doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Viztercoin Webwallet
    //  W3Css 
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster')
    style.
      
      .w3-lobster {
            font-family : "Lobster", serif;
          }
      
  body
    div
      header.w3-container.w3-deep-purple.w3-text-white.w3-padding-16
        p.w3-lobster VizterCoin Wallet
      .w3-bar.w3-bar-deep-purple.w3-deep-purple
        a.w3-bar-item.w3-button.w3-lobster(href='/newwallet').
          
          Create
          
        a.w3-bat-item.w3-button.w3-lobster(href='/login').
          
          Login
          
      .w3-container.w3-white.w3-text-black
        br
        div.w3-white.w3-text-deep-purple.w3-container.w3-round.w3-border.w3-border-red
          p Please Create A Wallet Or Login To Your Existing Wallet!
          br
          p To Report A Bug Or Request To Add A Feature You Can Report/Request Us On Github
          br
          a(href="https://github.com/vizx-enterprises/viztercoin-webwallet") Report/Request
          br
          
