doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title New Wallet
    //  W3.css 
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster')
    style.
      
      .w3-lobster {
              font-family: "Lobster", serif;
            }
      
  body
    header.w3-container.w3-deep-purple.w3-text-white.w3-lobster.w3-padding-16.
      
      Create A Viztercoin Wallet
      
    .w3-bar.w3-bar-deep-purple.w3-deep-purple
      a.w3-bar-item.w3-button.w3-lobster(href='/').
        
        Main
        
      a.w3-bat-item.w3-button.w3-lobster(href='login').
        
        Login
        
    br
    .w3-container
      form.w3-container.w3-border.w3-round.w3-border-deep-purple.w3-text-deep-purple(action='create' method='POST')
        br
        label.w3-text-deep-purple.
          
          Wallet Name
        br
        input.w3-input.w3-round(name='name' type='text')
        br
        label.w3-text-deep-purple.
          
          Wallet Password
          
        input.w3-input.w3-round(name='password' type='password')
        br
        input.w3-btn.w3-deep-purple.w3-round(type='submit' value='Create')
        br
      br